body {
    margin: 0px;
    padding: 0px;

    background-color: #FFF8ED;
    transition: 1s all;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

img {

    width: 100%;

}

.hide {

    display: none;

}

.hidden {
    display: none;


}

a {
    position: relative;
    text-decoration: none;
    color: #989898;
    font-family: 'King';
    text-decoration: none;

    transition: 1s all;
}



a:hover {
    color: #e5e5e5;

}







/*----------------HEADER-------------------*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 5;

}

.navbar {

    position: relative;
    /*  overflow: hidden;*/
    background-color: #333;

    font-size: 20px;


    font-weight: 100;

    transition: .4s;

}

.nav-colored {

    transition: .4s;
    /*    background: rgba(255, 243, 222, 0.32);*/
    z-index: 100;


}

.main-nav {
    list-style-type: none;
    display: none;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%);
}

.nav-links,
.logo {
    text-decoration: none;
    /*    color: rgba(255, 255, 255, 0.7);*/
    color: #989898;
}

.nav-links:hover,
    {
    text-decoration: none;
    /*    color: rgba(255, 255, 255, 0.7);*/
    color: #ffdf3f;
}

.active {
    display: block;
    margin-top: 20vw;
    background-color: #FFF8ED;
    width: 100%;
    height: 20vw;
}


.main-nav li {
    text-align: center;
    margin: 0 auto;

}

.logo-mobile {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 10px;
    float: left;
}

.logo-mobile img {
    width: 50px;
}

.logo img {
    display: none;
}


.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #000000;
    font-size: 24px;
    text-align: center;


}

@media screen and (min-width: 768px) {
    .navbar {
        float: none;
        display: block;
    }

    .main-nav {
        display: flex;
        flex-direction: row;



    }

    .main-nav li {
        margin: 0;

    }

    .nav-links {
        margin: 40px;
        font-size: 10px;

    }

    .logo img {
        margin: 0px 40px;
        margin-top: 5px;
        width: 50px;
        display: block;

    }

    .logo-mobile {
        display: none;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        transition: .4s;
        text-decoration: underline;

        color: #727272;
    }
}

.header-text {
    color: rgba(152, 152, 152, 0.63);
    font-family: 'Kiona';
    text-align: center;
    font-weight: lighter;
    font-size: 1.5vw;
    letter-spacing: 3px;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 8px;
}

@media screen and (min-width: 768px) {

    .header-text {
        color: rgba(152, 152, 152, 0.63);
        font-family: 'Kiona';
        text-align: center;
        font-weight: lighter;
        font-size: 10px;
        letter-spacing: 3px;
        padding-top: 80px;
    }
}

@media screen and (min-width: 1280px) {

    .header-text {
        color: rgba(152, 152, 152, 0.63);
        font-family: 'Kiona';
        text-align: center;
        font-weight: lighter;
        font-size: 12px;
        letter-spacing: 3px;
        padding-top: 100px;

    }

}




/*----------------HEADER END-------------------*/


/*----------------SHOP PAGE-------------------*/



.filter {

    background-color: transparent;
    border: none;
    color: #a5a3a3;
    font-family: 'Kiona';

}

img.billede {

    width: 100%;
    padding-bottom: 1vw;
    flex-basis: 200px;
}


.header-text-shop {

    color: rgba(152, 152, 152, 0.63);
    font-family: 'king';
    text-align: center;
    font-weight: lighter;
    font-size: 9px;
    letter-spacing: 3px;
    padding-top: 60px;
    padding-left: auto;
    padding-right: auto;
}


#products {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 2vw;


    max-width: 1024px;
    margin: auto;



}

.products {


    justify-content: space-around;
    flex-basis: 150px;
    padding: 2vw;


}



#products p {

    font-family: 'Kiona';
    font-size: 1.4vw;
    font-weight: lighter;
    color: grey;
    flex-basis: 10px;


}

#products h3 {

    font-family: 'Kiona';
    font-size: 1.4vw;
    font-weight: lighter;
    color: grey;
    flex-basis: 10px;


}

.shop_nav {

    text-align: center;
    margin-bottom: 5vw;

}
