body {
    margin: 0px;
    padding: 0px;
    background-color: #131b20;
    transition: 1s all;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

}

img {

    width: 100%;

}

.preload_home {
    position: fixed;
    top: 0;
    z-index: 100;

    width: 100%;
    height: 100%;
    background: #ffffff;
}

.preload_home logo {

    margin: 0;

}


.hide {

    display: none;


}

.fadeOut {
    height: 0;
    opacity: 0;

}

.fadeIn {
    height: auto;
    opacity: 1;
    /*
    transform: translateX(0%;
    ) opacity: 1;
    transition: all 2s ease-in-out;
*/
}

a {
    position: relative;
    text-decoration: none;
    color: #989898;
    font-family: 'King';
    text-decoration: none;

    transition: 1s all;
}



a:hover {
    color: #313131;

}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #989898;
    visibility: hidden;

}


@font-face {
    font-family: 'King';
    src: url('fonts/King.woff2') format('woff2'),
        url('fonts/King.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CRACKERS BRUSHER';
    src: url('fonts/CRACKERSBRUSHER.woff2') format('woff2'),
        url('fonts/CRACKERSBRUSHER.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kiona';
    src: url('fonts/Kiona-Regular.woff2') format('woff2'),
        url('fonts/Kiona-Regular.woff') format('woff');
    font-style: normal;
}




/*----------------HEADER-------------------*/

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 999;


}

.navbar {

    /*    position: relative;*/
    /*  overflow: hidden;*/
    background-color: #213540;

    font-size: 20px;

    height: 11vw;

    font-weight: 100;

    transition: .4s;


}

.nav-colored {

    transition: .4s;
    /*    background: rgba(255, 243, 222, 0.32);*/
    z-index: 100;


}

.main-nav {
    list-style-type: none;
    display: none;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-links,
.logo {
    text-decoration: none;
    /*    color: rgba(255, 255, 255, 0.7);*/
    color: #ffffff;

}

.nav-links:hover {
    text-decoration: none;
    /*    color: rgba(255, 255, 255, 0.7);*/
    color: #ffdf3f;
}

.active {
    display: block;
    padding-bottom: 10vw;
    margin-top: 23vw;
    background-color: #213540;
    width: 100%;
    height: 30vw;
    padding: 5vw;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.22);
}


.main-nav li {
    text-align: center;
    margin: 0 auto;
    margin: 1vw 0vw;

}

.logo-mobile {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    width: 10px;
    float: left;
}

.logo-mobile img {
    width: 50px;
}

.logo img {
    display: none;
}


.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: #ffffff;
    font-size: 24px;
    text-align: center;


}

@media screen and (min-width: 768px) {
    .navbar {
        float: none;
        display: block;
        height: 0vw;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        transform: translate(-54%);

    }

    .main-nav li {
        margin: 0;

    }

    .nav-links {
        margin: 40px;
        font-size: 0.8vw;
    }

    .logo img {
        margin: 0px 40px;
        margin-top: 5px;
        width: 50px;
        display: block;

    }

    .logo-mobile {
        display: none;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        transition: .4s;
        text-decoration: underline;

        color: #727272;
    }

    .active {
        display: inline-block;
        padding-bottom: 0vw;
        margin-top: 0vw;
        background-color: #FFF8ED;
        width: 100%;
        height: 0vw;
    }

}


/*----------------STORE PAGE-------------------*/

#store {

    background-image: linear-gradient(#3d4b56, #131b20);
}

.locator {

    justify-content: center;

}

.splash_store {
    background-image: url("img/splash_store.jpg");
    height: 55vw;
    /* parallax effect */


    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.store-first-bg {
    background-image: linear-gradient(#303b45, rgba(34, 41, 47, 0));
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2vw;
    padding-bottom: 4vw;
}

.store_header {
    color: #FFF9F9;
    font-family: 'Kiona';
    text-align: center;
    padding: 2vw;
    font-size: 3vw;
}



.store_pic {}

.store_tagline {
    color: #9CA5A5;
    font-family: 'King';
    font-size: 1.4vw;
    padding: 1vw;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, 0.65);
    width: 75%;
    position: absolute;
    top: 55%;
    left: 11%;
    text-align: center;
}

.store_text {
    color: #FFF9F9;
    font-family: 'King';
    font-size: 2vw;
    padding: 2vw;
    font-weight: lighter;
    margin: 0vw 7vw 0vw 7vw;
    line-height: 5vw;
    margin-bottom: 1vw;
}

/*------Shop Locator-------*/

.retailer {
    padding-bottom: 4vw;
    border-top: 0.1vw solid #4d4d4d;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vw;
    padding-top: 15vw;
}

.retailer_header {
    color: #FFF9F9;
    font-family: 'Kiona';
    text-align: center;
    padding: 2vw;
    font-size: 7vw;
    margin-bottom: 3vw;
}

.retailer_pic {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60vw;
    z-index: -5;
}


.retailer-text {
    color: #FFF9F9;
    font-family: 'Kiona';
    font-size: 2vw;
    padding: 2vw;
    font-weight: lighter;
    margin: 0vw 7vw 0vw 7vw;
    line-height: 5vw;
    margin-bottom: 1vw;
    margin-top: -70vw;
    text-align: center;
}

input[type=text] {
    width: 27vw;
    height: 2vw;
    background-position: 10px 10px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px #626262 solid;
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vw;
}


.navigator {
    margin-left: 3vw;
    margin-right: 3vw;
}



::placeholder {
    color: white;
    font-family: 'kiona';
}


#displayResult {
    color: #ffffff;
    font-family: 'kiona';
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 10vw;
    font-size: 2vw;
}

.adress {
    border-bottom: solid 1px white;
}


.button {
    width: 70%;
    height: 7vw;
    box-sizing: border-box;
    border: 1px solid rgba(46, 41, 41, 0.23);
    background-color: rgb(42, 42, 42);
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    font-family: 'kiona';
    margin-top: 9vw;
}

.button p {
    color: #edeaea;
}



/*Media Query For Splash Parallax*/

@media screen and (min-width: 641px) {

    .splash_store {
        /* The image used */
        background-image: url("img/splash_store.jpg");

        /* Set a specific height */
        height: 55vw;
        /* Create the parallax scrolling effect */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*Media Query For Tablet & Desktop*/

@media screen and (min-width: 768px) {

    .store {

        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0vw;
        height: 40vw;
        margin-top: -3vw;
    }

    /*Our Store Section*/

    .store-first-bg {
        background-image: none;
        background-color: #D4CABC;
        position: relative;
        height: 30vw;
        width: 65vw;
        left: -7%;
        top: -15%;
        box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.08);
    }

    .store_header {
        position: absolute;
        color: #000000;
        font-family: 'Kiona';

        font-size: 1.5vw;
        text-align: center;
        letter-spacing: 0.5vw;
        top: -17.7%;
        left: 8.7%;
        z-index: 5;
    }

    .store_pic {
        margin: -3vw 7vw;
        position: absolute;
        width: 70%;
        height: 30.3vw;
        left: 38%;
        top: -16%;
        margin: 3vw;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    }

    .store_text {

        font-size: 1vw;
        line-height: 2vw;
        margin: 0vw;
        padding: 3vw 40vw 10vw 4vw;
    }

    .store_tagline {

        color: #9CA5A5;
        font-family: 'King';
        font-size: 0.7vw;
        padding: 0vw;
        font-weight: lighter;
        background-color: rgba(0, 0, 0, 0.65);
        width: 60%;
        position: absolute;
        top: 78.5%;
        left: 49%;

    }




    /*Store Locator Section*/

    .retailer {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0vw;
        height: 40vw;
        margin-top: 15vw;
        border-top: 0.1vw solid rgba(77, 77, 77, 0);
    }

    .store-second-bg {
        background-image: linear-gradient(#303b45, rgba(34, 41, 47, 0));

        position: absolute;
        height: 30vw;
        width: 65vw;
        left: 20%;
        top: -30%;
        box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.08);
    }

    .retailer_header {
        position: absolute;
        top: -5%;
        left: 69%;
        font-size: 3.2vw;
        z-index: 0;
    }

    .pic-bg {
        background-image: linear-gradient(rgba(114, 191, 232, 0.06), rgba(32, 41, 49, 0.42));

        position: absolute;
        height: 30vw;
        width: 30vw;
        left: -14%;
        top: 25%;
        box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.08);
    }

    .retailer_pic {
        margin: -3vw 7vw;
        position: absolute;
        width: 100%;
        height: 30.3vw;
        left: -40%;
        top: 60%;
        margin: 3vw;
        z-index: 5;

    }

    .retailer-text {
        font-size: 0.7vw;
        line-height: 1vw;
        margin: 0vw;
        padding: 5vw 1vw 10vw 40vw;
        text-align: right;
    }

    .locator {
        position: absolute;
        top: 50%;
        left: 35%;
    }

    .button {
        position: absolute;
        left: 44.5%;
        width: 46%;
        height: 4vw;
        box-sizing: border-box;
        border: 1px solid rgba(118, 118, 118, 0.31);
        background-color: rgba(42, 42, 42, 0.5);
        background-repeat: no-repeat;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1vw;
        font-family: 'kiona';
        margin-top: 4vw;
    }

    .button p {
        color: #edeaea;
    }



    input[type=text] {
        width: 30vw;
        height: 2vw;
        box-sizing: border-box;
        border: 2px solid rgba(46, 41, 41, 0.23);
        font-size: 16px;
        background-color: #4C5459;
        background-repeat: no-repeat;
        padding: 12px 10px 12px 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 1vw;
        font-family: 'kiona';
        text-align: center;
        margin-bottom: 2vw;

    }

    #displayResult {


        flex-wrap: wrap;
        margin-left: 50vw;
        margin-right: 20vw;
        margin-top: -2.4vw;
        font-size: 1vw;
        background-image: linear-gradient(rgba(25, 33, 38, 0), #131b20);
        box-shadow: 0px 50px 30px rgba(0, 0, 0, 0.08);
        /*
        transform: translateX(-50%;
        )
*/
    }



    .adress {
        flex-basis: 300px;
        border-bottom: solid 1px white;
    }

}

@media screen and (min-width: 1024px) {

    .splash_store {
        /* The image used */
        background-image: url("img/splash_store.jpg");

        /* Set a specific height */
        height: 55vw;
        /* Create the parallax scrolling effect */

        background-attachment: fixed;

    }
}


/*--------------------FOOTER----------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'King';
    font-size: 10px;
    text-align: center;
    color: #868686;
    padding-bottom: 15px;

}

.footerline hr {
    border: 1px solid #868686;

}

.phone-number {
    padding: 10px;
    flex-grow: 1;
    flex-basis: 200px;
}

.some {
    flex-grow: 1;
    flex-basis: 200px;
}

.some-icons img {
    width: 20px;
    height: 20px;
    padding: 0px 0px;
    opacity: 0.6;
    transition: 0.2s;

}

.some-icons img:hover {

    opacity: 0.8;
    transition: 0.2s;
}


.email {
    flex-grow: 1;
    flex-basis: 200px;
}

/*------------FOOTER Media Querry Tablet----------*/

@media screen and (min-width:541px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-family: 'King';
        font-size: 10px;
        text-align: center;
        color: #868686;
        padding-bottom: 15px;

    }

    .phone-number {
        flex-basis: 100px;
    }

    .some {
        flex-basis: 100px;
    }

    .email {
        flex-basis: 100px;
    }
}

/*------------FOOTER Media Querry Tablet----------*/

@media screen and (min-width:768px) {

    .footerline hr {
        border: 1px solid #868686;
        margin-top: 32vw;
    }


    .phone-number {
        flex-basis: 100px;
    }

    .some {
        flex-basis: 100px;
    }

    .email {
        flex-basis: 100px;
    }



}

.locator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
